<?xml version="1.0"?>
<launch>
    <!-- Launch the rosserial Python node -->
    <node pkg="rosserial_python" type="serial_node.py" name="serial_node" output="screen">
        <param name="port" value="/dev/ttyUSB0" />
        <param name="baud" value="115200" />
    </node>

    <!-- Launch MAVROS with px4 configuration -->
    <include file="$(find mavros)/launch/px4.launch" />

    <!-- Launch px4_offboard_control node -->
    <node pkg="px4_offboard_control" type="pub_cam.py" name="pub_cam" output="screen" />
</launch>